main {
    height: 90vh;
}

.main-container-user div{
    background-color: #302f34;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f7f7e9;
}

.main-container-hisorialTurn h2{
    text-align: center;
}

.item-hisotiralTurn {
    background-color: #302f34;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f7f7e9;
    padding: 7px;
}

.item-hisotiralTurn button {
    background-color: #f7f7e9;
    border: none;
    padding: 7px;
    border-radius: 10px;
    margin-right: 8px;
}